@media screen and (max-width: 600px) {
    #navbar {
        height: 40px;
    }

    #navbar ul li {
        display: none;
    }

    #navbar ul {
        margin: auto;
        text-align: center;
    }

    #navbar #mainTitle {
        font-size: 30px;
    }

    #navbar #menu {
        display: flex;
        right: 50px;
        position: absolute;
        top: 50px;
        right: 60px;
    }

    #navbar .sign {
        display: inline-block;
    }

    #navbar #search {
        position: absolute;
        top: 10px;
        right: 70px;
    }

    #navbar .sign {
        position: relative;
        top: 20px;
        right: 20px;
    }

    #navbar .navChild .social {
        display: none;
    }
}