body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #3d455c;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.hot-news-left{
	flex: 50%;
	background: #212121;
}
.hot-news-right{
	flex: 50%;
	background: rgba(202, 202, 202, 0.952);
}

.main-section{
	flex: 70%;
	/*background-color: red;*/
}

.trending{
	padding: 0 20px 20px 20px;
}

.right-section{
	height: 300px;
	flex: 30%;
	background-color: green;
}

/*post*/
.h-50{
	height: 50vh;
}
.h-100{
	height: 100vh;
}

.post{
	position: relative;
	color: blue;
}
.post-meta{
	position: absolute;
	bottom: 20px;
	left: 10px;
	color: #FFF;
	font-weight: 900;
	font-size: 18px;
}
.post-thumb{
	width: 100%;
  	height: 100%;
  	object-fit:cover;
  	/*margin: auto;*/
}
.post-topic{
	font-size: 25px;
}
.post-date{
	color: #eceef2;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}

.grid-container > div{
	background-color: blue;

}
.grid-item1{
	grid-row-start: 1;
	grid-row-end: 2; 
}

.grid-item2{
	grid-row-start: 1;
	grid-row-end: 2; 
	grid-column-start: 2;
	grid-column-end: 4;
}
.grid-item3{
	grid-row-start: 1;
	grid-row-end: 3;
}
.grid-item4{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}

.grid-item5{
	grid-row-start: 2;
	grid-row-end: 3; 
}

@media(max-width: 700px){
	.hot-news-right, .hot-news-left{
		flex: 100%;
	}
	
}
@media(max-width: 800px){
	.main-section, .right-section{
		flex: 100%;
	}
}
@media(max-width: 600px){
	.grid-container{
		grid-template-columns: 1fr;
	}
	.grid-item1{
		grid-row-start: 1;
		grid-row-end: 2; 
	}
	.grid-item2{
		grid-row-start: 2;
		grid-row-end: 3; 
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.grid-item3{
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.grid-item4{
		grid-row-start: 4;
		grid-row-end: 5; 
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.grid-item5{
		grid-row-start: 5;
		grid-row-end: 6;
	}
	.test{
		height: 50vh !important;
	}
}

/*******************abhi**********************/
.nname{
    font-family: Bahianita;
    color: var(--text-inverse);
    font-size: 30px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}


.bg{
    background: white;
    transition: 0.2s ease;

}
.bg .scrolled{
    box-shadow: 0 1px 5px gray;
}

.navbar-nav li a{
    color:black!important;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
    font-size: 14px;
}

.nav-link:hover{
    color: var(--default)!important;
    transition: 0.3s ease;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid var(--default)!important;
}

@media screen and (max-width: 1000px) {
    .nav-link:hover::after {
        content: "";
        position: absolute;
        left: 0%;
        right: 93%;
        bottom: 0;
        border: 1px solid var(--default)!important;
    }
}

.dropdown:hover>.dropdown-menu{
    display: block;
    transition: 1s ease-out!important;
  }
  
.dropdown-menu{
    background-image: white!important;
    border: none;
}
.dropdown-item:hover{
    background: white!important;
    color: black!important;
}

.dropdown-item:hover::after {
    content: '';
    position: absolute;
    left: 16%;
    right: 50%;
    bottom: 0;
    border: 1px solid var(--default)!important;
}

#banner{
    background: white;
    padding-top:0;
    color:black;
}

.promo-title{
    font-size: 100px;
    font-weight: 800;
    margin-top: 80px;
    text-align: center;
    font-family:"montserrat",sans-serif;
}

.batn{
    text-align: center;
    font-family:"montserrat",sans-serif!important;
}

.btn3{
    background: var(--default)!important;
    color:black;
    border-top-left-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 1px 10px var(--default);
    font-weight: 500!important;
    margin-right: 10px;
}

.btn3:hover{
    background: var(--default)!important;
    color:rgb(255, 255, 255)!important;
}


.batn .btn2{
    background: white;
    color:black;
    border-bottom-right-radius: 20px;
    border: 1px var(--default) solid;
    font-size: 16px;
}

.batn .btn2:hover{
    background: var(--default);
    transform: scale(1.1);
    color:white;
    transition: 0.5s ease;
}


.batn .btn1{
    background:var(--default);
    color:rgb(255, 255, 255);
    border-top-left-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.batn .btn1:hover{
    transform: scale(1.1);
    color: black;
    transition: 0.5s ease;
}

.phota{
    margin-top: 50px;
    margin-bottom: 50px;
}

.phota img{
    height:70%;
    width: 70%;
}









/*----------Foooter------------------*/
#footer{
    background-image: linear-gradient(to right,#000000,#222222);
    color:white;
}

#footer a i{
    font-size: 20px;
}

#footer a{
    border: none;
    color: white;
}

#footer a .fa-facebook-official:hover{
    color:  rgb(147, 206, 255);
    transform: scale(1.2);
    transition: 0.5s;
}

#footer a .fa-snapchat-ghost:hover{
    color: rgb(255, 252, 0);
    transform: scale(1.2);
    transition: 0.5s;
}

#footer a .fa-instagram:hover{
    color: var(--default);
    transform: scale(1.2);
    transition: 0.5s;
}

#footer a .fa-twitter-square:hover{
    color: #00acee;
    transform: scale(1.2);
    transition: 0.5s;
}

#footer a .fa-github-square:hover{
    color: brown;
    transform: scale(1.2);
    transition: 0.5s;
}

.f-line{
    height:3px;
    background-color: var(--default);
}

.f-space{
    padding:40px 0;
}

.f-header{
    text-transform: uppercase;
    font-size: 13px;
    color: var(--default);
}

.f-links{
    color: white;
    text-decoration: none;
}

#footer a{
    text-decoration: none;
}

#footer a:hover{
    color: var(--default);
    transition: 0.5s;
}


.texts{
    font-size: 12px;
}

.end{
    background: #222222;
    color: white;
    border-top: 1px rgba(204, 204, 204, 0.212) solid;
    text-align: center;
}

.end-text{
    padding: 20px 0;
}