*{
	padding: 0;
	margin: 0;
}
#game{
	width: 400px;
	height: 550px;
	border: 20px solid black;
	margin: 10px auto 0 auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
#ball{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF0000;
	position: relative;
	top: 400px;
	left: 190px;
	z-index: 100;
}
.block{
	width: 400-20px;
	height: 20px;
	background: #000000;
	position: relative;
	margin-top: -20px;
}
.hole{
	width: 30px;
	height: 20px;
	position: relative;
	background: #fff;
	margin-top: -20px;
}
.btn-play{
	height: 100px;
	width: 100px;
}
.btn-play:hover{
	cursor: pointer;
}